
.bg-login {
	background-repeat: no-repeat;
		background-size: cover;
		min-height: 300px;
}


.bt-login {
	min-height: 45px;
}

.tb-ujian td {
	padding: 15px 25px !important;
}

.login-title {
	font-size: 40px;
}


@media screen and (max-width: 576px) {
	.container-login {
		/*margin: 0px -15px !important;*/
	    padding: 15px !important;
	}

	.login-title {
		font-size: 30px;
	}
}